/* .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/mountains-55067_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: transparent;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-field input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .signup-link a {
    color: white;
    text-decoration: none;
  }
*/