.mypage-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  padding: 3%;
  /* background-color: #f5f5f5; */
  margin-top: -5%;
  margin-bottom: 4%;
}

.default-profile-picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: #333;
  font-size: 16px;
}

.picture-section {
  position: relative;
  width: 100%;
}

.profile-picture {
  position: relative;
  bottom: -8rem; /* Adjust the value based on your needs */
  width: 17%;
  height: auto;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1 / 1;
  margin-left: 2%;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}

.profile-picture input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.background-picture img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.background-picture > input[type="file"] {
  display: none;
  cursor: pointer;
}

.profile-section{
  width: 100%;
  margin-bottom: 2%;
  border-radius: 10px;
  /* border-top: 2px solid #000; */
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
  padding-top: -1%;
  padding-left: 20%;
  padding-right: 4%;
  text-align: left;
}

.profile-Nicname{
  margin-top: -0%;
  padding-top: -10%;
}


.my-posts-section {
  width: 100%;
  background-color: #fff;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
}
.my-nfts-section {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.my-posts-section h2{
  font-size: 24px;
  border-bottom: 1px solid #000;
  padding-bottom: 1.5%;
  margin-bottom: 1%;
  text-align: left;
}
.my-nfts-section h2 {
  font-size: 24px;
  border-bottom: 1px solid #000;
  padding-bottom: 1.5%;
  margin-bottom: 10px;
  text-align: left;
}

.imgGrid{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-row-gap: 2%;
}

.transferBtn {
  margin-left: auto;
  background-color: #c6c9cb;
  padding: 0.7%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
}
.transfer{
  margin-top: 1%;
}