.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.default-profile-picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: #333;
  font-size: 16px;
}

.picture-section {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: lightgoldenrodyellow;
}

.background-picture {
  position: absolute;
  width: 100%;
  height: 270px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: bisque;
}

.profile-picture {
  bottom: -10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: violet;
  overflow: hidden;
  z-index: 10;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.background-picture,
.background-picture img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.background-picture > input[type="file"] {
  display: none;
  cursor: pointer;
}

.my-posts-section,
.my-nfts-section {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.my-posts-section h2,
.my-nfts-section h2 {
  font-size: 24px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
