.back{

}

.PostContainer {
    text-align: center;
    color: white;
    margin: 3%;
    margin-top: 1%;
    margin-bottom: 10%;
    /* Rest of the styles */
  }

  .Postimg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-row-gap: 2%; /* 첫 번째 줄과 두 번째 줄 사이에 마진 추가 */
    /* Rest of the styles */
  }
  
.Postimg > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* Rest of the styles */
}

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-bottom: 2%;
  }
  
  .Top h1 {
    margin: 0;
    margin-left: 5%;
  }
  
  .Top button {
    margin-left: auto;
    background-color: #c6c9cb;
    padding: 0.7%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 5%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    transition: transform 0.3s ease;
  }
  .Top button:hover {
    transform: scale(1.1);
  }

  
  .SearchContainer {
    background-color: #f1f3f5;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */

  }
  
  
  .SearchInput {
    background-color: #f1f3f5;
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-right: 0.5%;
    /* 추가 스타일 */
  }
  .SearchButton {
    background-color: #c6c9cb;
    padding: 0.5rem;
    border: none;
    border-radius: 12px;
    /* 추가 스타일 */
  }